<header class="header">
    <h1 class="header-heading">
      <a href="{% url 'contact:index' %}" class="header-link">My contacts</a>
    </h1>
    <nav class="menu">
      <ul class="menu-list">
        <a href="{% url 'contact:create' %}" class="menu-link">
          Create
        </a>
        <li class="menu-item"><a href="url" class="menu-link">Login</a></li>
        <li class="menu-item">
          <a href="url" class="menu-link">Cadastre-se</a>
        </li>
      </ul>
    </nav>
    <div class="search">
      <form action="{% url "contact:search" %}" method="get">
        <input
          type="search"
          name="q"
          placeholder="Search"
          id="search"
          class="search-input"
          value="{{ request.GET.q.strip }}"
        />
      </form>
    </div>
  </header>